// Default mixins and settings -----------------
@import "../template/mixins";
@import "../template/settings";
@import "../template/theme";
// ---------------------------------------------

.home {
  width: 75%;
  margin: 0 auto;
  padding: 3.5em;

  &__title {
    height: 8em;
    margin-bottom: 2em;
    display: flex;
    align-items: center;
  }

  .gdi-dayton-logo {
    float: left;
    width: 8em;
    padding-right: 2em;
  }

  h1, h2 {
    color: $gdiPink;
  }

  h1 {
    @include heading-size(6);
    height: 1.5em;
    margin: 0px;
  }

  h2 {
    @include heading-size(4);
    margin: 0px;
  }

  ul {
    margin: 0px;
    padding: 0;
  }

  li {
    list-style: none;
  }

  a:link {
    color: #22867F;
    text-decoration: none;
  }

  a:visited {
    color: #22867F;
  }

  a:hover {
    color: #F05B62;
  }

  a:active {
    color: #ffffff;
  }

  &__links {
    display: flex;
    justify-content: space-between;
  }

  &__classes {
    width: 65%;
    h2 {
      margin-bottom: 0.5em;
    }
  }

  &__resources {
    width: 30%;
  }
}

.copyright {
  font-size: 0.55em;
  text-align: center;
}

.col1 {
  width: 15%;
}

.smalltext {
  font-size: 0.75em;
}
